<div class="space-header"></div>
<div style="min-height: 80vh; padding: 40px;">
	<h5 style="font-weight: bold">Lead Info, Id Number: <%=@info.id%></h5>
	<p>Name-: <%=@info.name%></p>
	<p>Mobile Number-: <%=@info.mobile%></p>
	<p>Email-: <%=@info.email%></p>
	<p>Query-: </p>
	<p><%=@info.query%></p>
</div>