
<section class="headera" style="background-image :url(<%=asset_path('head1.png')%>);
   background-color: black;
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;">
    <h2>Don’t worry about being successful but work towards being significant and the success will naturally follow</h2>
   <a href="#demos" class="btn_glob btn_border" style="display: none">Join and Start Your Journey Today</a>
</section>



    <!-- start demo_wrap -->
    <div class="demo_wrap bg_dark" id="about">
        <div class="home_page_demos page_demos">
            <div class="bg_text">
                <h1 class="bg_strock_text" data-parallax="{&quot;x&quot;: 200}">About</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <h2 class="demos_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">About</h2>
                        
                    </div>
                </div>
            </div>
            <div style="padding: 40px;">
                <p style="color:white !important">Aashish K. Jha is the Founder and Managing Director of Gemstone IIR Solutions Consulting Pvt Ltd and Director of I-Glam (I-Glam is a leading Modelling & Beauty Pageants Company of East India). He is a successful Entrepreneur, Marketing & sales Enthusiast and well sought-after Corporate Trainer, Business Coach and Motivational Speaker. He is a prominent personality in the world of Network Marketing. With a diversified experience of about 10+ years in the corporate world: from being associated with Hindustan Coca-Cola Beverages Ltd to holding a significant position in Amway Direct Marketing to owning a business with an aim to create value and enormous opportunities for the society, Aashish has touched and inspired millions of lives.</p><br><p style="color:white !important">He is a powerful and influential speaker, coach and trainer energizing and motivating a lot of people to make their life successful and achieve their dreams. His areas of expertise include: Entrepreneurship Development, Brand-building & PR, Organization Development, Strategy & Planning, Turnkey Projects, Project Management, Marketing Management, Sales & Distribution, Business Networking, Leadership & Motivation, Event Management, Communication Management, Budget & Controls, Staffing & Recruitment, Corporate & Key Accounts Management, Channel Marketing & Trade Marketing.  He is also a successful Youtuber with 10,000+ subscribers and more than 5.0 Lac views on his videos.
 </p><br>
<div class="logoinfo">
<img src="<%=asset_path('gemlogo.jpg')%>" >
<div>
    <p class="logoheaders">GEMSTONE CONSULTING IIR</p>
<p>Gemstone IIR Solutions Consulting Pvt. Ltd. an ISO 9001:2015 Certified and diversifies MSME Company dealing in Sanitation and Covid Essentials Supply work, besides offering Innovative Consulting, Healthcare, Business and Skill & Enterprise Development Solutions through Digital Platforms .
It has its major presence in East India (Bihar, Jharkhand, West Bengal, East UP, Orissa). Gemstone has been successfully serving a clientele consisting of Municipal Corporations, District Administration, State & Central Govt. Departments, PSUs, Banks, Private Sector Companies, Industries, besides well-known Residential as well as Commercial Establishments.
</p>
</div>
</div><br>
<div class="logoinfo">
<img src="<%=asset_path('iglam.jpg')%>" width="25%">
<div>
<p class="logoheaders">I-GLAM</p>
<p>I-Glam is a leading Modeling and Beauty Pageants Company of East India. I-Glam regularly organizes Beauty Pageants in the Mr, Miss, Mrs & Juniors Category in partnership with International Pageant Organizers such as RuBaRu Group. Besides I-Glam offers a platform for upcoming models and aspirants of the beauty pageant industry.<br>
It offers various professional Diploma courses in various fields ranging from interior designing, fashion designing, fashion Photography, fashion film and so on with an aim to provide the initial trainings and assistance to the aspiring candidates not only theoretically but also offering practical exposure in the form of internships and giving opportunity to work on some real-life projects.</p>
</div>
</div>
<br>
<div class="logoinfo">
<img src="<%=asset_path('motivation.png')%>" width="25%">
<div>
<p class="logoheaders">Trainer / Coach / Motivational Speaker</p>
<p>Ashish K. Jha is a well sought-after Corporate Trainer, Business Coach and Motivational Speaker and with his powerful and motivational speeches and videos, he is inspiring a lot of people to understand their potential and be self-dependent. He has a YouTube channel with 10,000+ subscribers and more than 5.0 Lac views on his videos. </p>
</div>
</div>

<div class="logoinfo">
<img src="<%=asset_path('Amway_logo.png')%>" width="25%" height="117px">
<div>
<p class="logoheaders">Emerald Direct Leader: Amway</p>
<p>Aashish K. Jha along with his wife Ms. Ddevjani Mitra are a successful and established power couple as well as a recognized brand in the Direct Selling (Network Marketing) Industry. Together, they hold the position of Emerald Directs in Amway India Enterprises – the leading Direct Selling company of India and across the globe. They have their business operations spread across India, US, Canada, Mexico, Australia & New Zealand. 
<br>
He is currently Leading a 3000+ Affiliates Organization of the No. 1 Direct Selling Company in the World - Amway Global and 1 Emerald Organization, 2 Founder Platinums and 7 Platinum Organizations based out of Bihar, Jharkhand, Delhi & Karnataka, 1 Gold Organization based out of Uttar Pradesh, and several Silver Organizations based out of New Delhi, Kolkata, Asansol, Durgapur and other parts of the country, besides other upcoming organizations in National & International Markets. Through his vast, widespread and diverse network, He is handling a Sales Turnover of over INR 60 Million per annum growing at over 30% per annum. 
<br> </p>
</div>
</div>


            </div>

            
                       </div>
        </div>

        <div class="demo_wrap bg_dark" id="videos">
        <div class="home_page_demos page_demos">
            <div class="bg_text">
                <h1 class="bg_strock_text" data-parallax="{&quot;x&quot;: 200}">Videos</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <h2 class="demos_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Videos</h2>
                        
                    </div>
                </div>
          

            </div>

           <div id="my_nanogallery2" data-nanogallery2='{
        "thumbnailHeight": 200,
    "thumbnailWidth":  300 ,
    "thumbnailHoverEffect2": "borderDarker|labelAppear75|image_blur_0.00px_2.00px",
     "viewerTools":     {
        "topLeft":    "pageCounter",
        "topRight":   "fullscreenButton, closeButton"
      }   

  }'>
  <a href="https://www.youtube.com/watch?v=L_Leqtr4vkw">Roles of Mentor in Life</a>

  <a href="https://www.youtube.com/watch?v=SVvvGClU--4">Time Scale of Life</a>
  
  <a href="https://www.youtube.com/watch?v=LDxqzAE2h5k">Truth About Education In India</a>
  
  <a href="https://www.youtube.com/watch?v=q1WT41TbVOU&t=120s">Bing Rich and Being Educated</a>
  
                <a href="https://www.youtube.com/watch?v=4d6nmyV_580">Business Opurtunity Presentation</a>
                <a href="https://www.youtube.com/watch?v=04U2ajrYF9M&t=498s">Best Buisiness Oppurtunity Ever?</a>
                <a href="https://www.youtube.com/watch?v=ab3X_Vv3A98&t=405s">Show the Plan</a>
                <a href="https://www.youtube.com/watch?v=kuWk0pcp4mw&t=253s">Why Network Marketing ?</a>
                 <a href="https://www.youtube.com/watch?v=dDdCXK0pFw4">Life is awesome with Amway</a>
                  <a href="https://www.youtube.com/watch?v=p3n-vYa4oBE">Game Plan Of Life</a>
                   <a href="https://www.youtube.com/watch?v=w7_Zoq2GfPI&t=124s">Rising Bihar</a>
                    <a href="https://www.youtube.com/watch?v=xJgPFO4AZWo">Show The Plan</a>
            </div>
        </div>
    </div>
 

        <div class="demo_wrap bg_dark" id="bl">
        <div class="home_page_demos page_demos">
            <div class="bg_text">
                <h1 class="bg_strock_text" data-parallax="{&quot;x&quot;: 200}">Blog</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <h2 class="demos_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Blog</h2>  
                    </div>
                </div>
            </div>
<div id="owl-demo">
          <%@blog.each do |f|%>
  <div class="item"><a href="/blog/index/<%=f.id%>" title="<%=f.title%>"><img src="<%=url_for(f.avatar)%>" alt="Blog Image"></a><p style="color: white"><%=f.title%></p></div>
<%end%>
 
</div>
        </div>
    </div>
 




<div class="demo_wrap bg_dark" id="testimonials">
        <div class="home_page_demos page_demos">
            <div class="bg_text">
                <h1 class="bg_strock_text" data-parallax="{&quot;x&quot;: 200}">Testimonials</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <h2 class="demos_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Testimonials</h2>
                        
                    </div>
                </div>
            </div> 

<div class="container" style="background-color: #171819;margin: 0; max-width: 100vw !important">
    <div class="row">
        <div class="col-md-12">
            <div id="testimonial-slider" class="owl-carousel">
                <div class="testimonial">
                    <div class="content">
                        <p class="description">
                           One line that describes Aashish is a fun loving, dynamic and focused leader who inspires confidence in his team to achieve the vision.
                        </p>
                    </div>
                    <div class="testimonial-pic">
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" alt="">
                    </div>
                    <div class="testimonial-review">
                        <h3 class="testimonial-title">Siddharth Ganguly </h3>
                        <span>Diamond Leader at Amway</span>
                       <!--  <ul class="social-links">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-pinterest"></a></li>
                        </ul> -->
                    </div>
                </div>
 
                <div class="testimonial">
                    <div class="content">
                        <p class="description">
                            Aashish is a leader driven by a cause to Empower millions around him to become entrepreneurs. Glad to be a part of his journey.
                        </p>
                    </div>
                    <div class="testimonial-pic">
                        <img src="https://cdn2.iconfinder.com/data/icons/people-flat-design/64/Man-Person-People-Avatar-User-Happy-512.png" alt="">
                    </div>
                    <div class="testimonial-review">
                        <h3 class="testimonial-title">Poornanand Kulkarni</h3>
                        <span>Founder at CoachEd</span>
                       <!--  <ul class="social-links">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-pinterest"></a></li>
                        </ul> -->
                    </div>
                </div>
 
                <div class="testimonial">
                    <div class="content">
                        <p class="description">
                         Aashish is the prime example of relentless pursuit of success. He backs up his natural talent with hard work to achieve his goals.
                        </p>
                    </div>
                    <div class="testimonial-pic">
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" alt="">
                    </div>
                    <div class="testimonial-review">
                        <h3 class="testimonial-title">Praveen Dhawan</h3>
                        <span>Head - Strategy and Procurement, Big Sam's</span>
                      <!--   <ul class="social-links">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-pinterest"></a></li>
                        </ul> -->
                    </div>
                </div>

                <div class="testimonial">
                    <div class="content">
                        <p class="description">
                            Aashish is a story teller, dynamic leader and an excellent coach. His concepts around business development are very logical and helps in long term
                        </p>
                    </div>
                    <div class="testimonial-pic">
                        <img src="https://cdn2.iconfinder.com/data/icons/people-flat-design/64/Man-Person-People-Avatar-User-Happy-512.png" alt="">
                    </div>
                    <div class="testimonial-review">
                        <h3 class="testimonial-title">Rishabh Sinha</h3>
                        <span>Business Unit Head, Baxter India Pvt. Ltd. </span>
                      <!--   <ul class="social-links">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-pinterest"></a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
</div>
</div>












  <div class="demo_wrap bg_dark" id="contact">
        <div class="home_page_demos page_demos">
            <div class="bg_text">
                <h1 class="bg_strock_text" data-parallax="{&quot;x&quot;: 200}">Contact us</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <h2 class="demos_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Contact us</h2>
                        
                    </div>
                </div>
            </div> 
        <form id="lc">
             <div class="form-group">
    
    <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter Name" required>
   
  </div>
             <div class="form-group">
    <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email Id" required>
    <small class="form-text text-muted">We'll never share your Email with anyone else.</small>
  </div>
   <div class="form-group">
    <input type="number" name="mobile" class="form-control" aria-describedby="emailHelp" placeholder="Enter Mobile Number" required>
    <small  class="form-text text-muted">We'll never share your Mobile Number with anyone else.</small>
  </div>
    <div class="form-group">

    <textarea class="form-control" placeholder="Please enter your query here" id="qry" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="lcsubmit">Submit</button>
        </form>
    </div>
  </div>
 

    <!-- end demo_wrap -->
    <div class="go_to_top">
        <a href="#top">
            <i class="fa fa-angle-up"></i>
            <i class="fa fa-angle-up"></i>
        </a>
    </div>


<script>
    $(document).ready(function(){

$('#lc').submit(function(event){
    
    event.stopPropagation();
    event.preventDefault();
    console.log("a");
edata={
    'email': $('input[name=email]').val(),
    'name': $('input[name=name]').val(),
    'mobile': $('input[name=mobile]').val(),
    'query': $('#qry')[0].value
};
  $.ajax({
    type: 'post',
    url: '/api/v1/lead/savecontactus',
    headers:{
  'Accept': 'application/json',
  'Content-Type':'application/json',
 
    },
    data: JSON.stringify(edata),
    datatype:'application/json',
    success: function(e){
     
     if(e.status!="error"){
    new Noty({
    theme: 'metroui',
     type: 'success',
    text: 'Query has been successfully submitted',
   timeout:1500,
}).show();

reload('lc');
}
 else
   new Noty({
    theme: 'metroui',
     type: 'error',
    text: 'Please fill all the fields',
    timeout: 1000,
}).show();

    },
    error: function(e){
        alert("error");
    }

});
});
});
function reload(g){
    var container = document.getElementById(g);
    var content = container.innerHTML;
    container.innerHTML= content; 
}
</script>
<script type="text/javascript">
    $(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
 
      autoPlay: 3000, //Set AutoPlay to 3 seconds
 
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });
 
});
</script>