

    <!-- start header -->
    <!-- end header -->

    <!-- start hero_warp -->
    <!-- <section class="hero_warp" style="background-image :url(<%=asset_path('head3.png')%>);
    background-position: center;
    background-size: cover;">
        <div class="container">
            <div class="row d-flex align-items-center height_vh">
                <div class="col-md-12 col-12">
                    <div class="banner_content">
                        <h1 class="banner_title text-center">A True Leader keeps on<br>Maximizing his capabilities.  </h1>
                        <div class="btn_group text-center">
                            <a href="#contact" class="btn_glob btn_border">Contact us</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- end hero_warp -->
<section class="headera" style="background-image :url(<%=asset_path('head1.png')%>);
   background-color: black;
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;">
    <h2>Don’t worry about being successful but work toward being significant and the success will naturally follow.</h2>
   <a href="#demos" class="btn_glob btn_border" style="display: none">Join and Start Your Journey Today</a>
</section>



    <!-- start demo_wrap -->
    <div class="demo_wrap bg_dark" id="about">
        <div class="home_page_demos page_demos">
            <div class="bg_text">
                <h1 class="bg_strock_text" data-parallax="{&quot;x&quot;: 200}">About</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <h2 class="demos_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">About</h2>
                        
                    </div>
                </div>
            </div>
            <div style="padding: 40px;">
                <p style="color:white !important">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum quam sed accumsan imperdiet. Proin mattis lorem sed enim tempor, et eleifend libero ullamcorper. Proin lobortis ultricies bibendum. Vestibulum auctor augue eget interdum egestas. Integer ut arcu tincidunt, feugiat risus sit amet, ornare nisi. Curabitur ac arcu massa. Duis urna augue, accumsan non aliquam eu, vulputate at orci. Vivamus aliquet ut velit vitae tempor. Praesent facilisis dui sed purus molestie, vitae aliquam sem commodo. Maecenas sit amet suscipit ex. Donec cursus felis ex, vitae ornare diam pretium ut. Donec sollicitudin vehicula efficitur. Nulla vel elit viverra, bibendum arcu nec, imperdiet felis.<br>

Suspendisse potenti. Nam ornare, felis vitae cursus fringilla, quam purus laoreet diam, quis scelerisque urna libero non purus. Cras at bibendum dolor, et imperdiet elit. In sed posuere ipsum. Maecenas erat urna, congue quis tincidunt sit amet, ultrices non massa. Vivamus quis arcu non dui suscipit volutpat. In ante nibh, placerat vitae imperdiet quis, facilisis sit amet neque. Nulla bibendum tempor ipsum, dapibus sagittis risus sagittis quis. Nunc feugiat convallis sapien, at scelerisque arcu scelerisque nec. Nulla facilisi.</p>
<div class="logoinfo">
<img src="<%=asset_path('gemlogo.jpg')%>" width="25%">
<div>
    <p class="logoheaders">GEMSTONE CONSULTING IIR</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum quam sed accumsan imperdiet. Proin mattis lorem sed enim tempor, et eleifend libero ullamcorper. Proin lobortis ultricies bibendum. Vestibulum auctor augue eget interdum egestas. Integer ut arcu tincidunt, feugiat risus sit amet, ornare nisi. Curabitur ac arcu massa. Duis urna augue, accumsan non aliquam eu, vulputate at orci. Vivamus aliquet ut velit vitae tempor. Praesent facilisis dui sed purus molestie, vitae aliquam sem commodo. Maecenas sit amet suscipit ex. Donec cursus felis ex, vitae ornare diam pretium ut. Donec sollicitudin vehicula efficitur. Nulla vel elit viverra, bibendum arcu nec, imperdiet felis.</p>
</div>
</div><br>
<div class="logoinfo">
<img src="<%=asset_path('iglam.jpg')%>" width="25%">
<div>
<p class="logoheaders">I-GLAM</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum quam sed accumsan imperdiet. Proin mattis lorem sed enim tempor, et eleifend libero ullamcorper. Proin lobortis ultricies bibendum. Vestibulum auctor augue eget interdum egestas. Integer ut arcu tincidunt, feugiat risus sit amet, ornare nisi. Curabitur ac arcu massa. Duis urna augue, accumsan non aliquam eu, vulputate at orci. Vivamus aliquet ut velit vitae tempor. Praesent facilisis dui sed purus molestie, vitae aliquam sem commodo. Maecenas sit amet suscipit ex. Donec cursus felis ex, vitae ornare diam pretium ut. Donec sollicitudin vehicula efficitur. Nulla vel elit viverra, bibendum arcu nec, imperdiet felis.</p>
</div>
</div>
            </div>

            
                       </div>
        </div>

        <div class="demo_wrap bg_dark" id="videos">
        <div class="home_page_demos page_demos">
            <div class="bg_text">
                <h1 class="bg_strock_text" data-parallax="{&quot;x&quot;: 200}">Videos</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <h2 class="demos_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Videos</h2>
                        
                    </div>
                </div>
          

            </div>

           <div id="my_nanogallery2" data-nanogallery2='{
        "thumbnailHeight": 200,
    "thumbnailWidth":  300 ,
    "thumbnailHoverEffect2": "borderDarker|labelAppear75|image_blur_0.00px_2.00px",
     "viewerTools":     {
        "topLeft":    "pageCounter",
        "topRight":   "fullscreenButton, closeButton"
      }   

  }'>
                <a href="https://www.youtube.com/watch?v=4d6nmyV_580">Business Opurtunity Presentation</a>
                <a href="https://www.youtube.com/watch?v=04U2ajrYF9M&t=498s">Best Buisiness Oppurtunity Ever?</a>
                <a href="https://www.youtube.com/watch?v=ab3X_Vv3A98&t=405s">Show the Plan</a>
                <a href="https://www.youtube.com/watch?v=kuWk0pcp4mw&t=253s">Why Network Marketing ?</a>
                 <a href="https://www.youtube.com/watch?v=dDdCXK0pFw4">Life is awesome with Amway</a>
                  <a href="https://www.youtube.com/watch?v=p3n-vYa4oBE">Game Plan Of Life</a>
                   <a href="https://www.youtube.com/watch?v=w7_Zoq2GfPI&t=124s">Rising Bihar</a>
                    <a href="https://www.youtube.com/watch?v=xJgPFO4AZWo">Show The Plan</a>
            </div>
        </div>
    </div>
 

        <div class="demo_wrap bg_dark" id="bl">
        <div class="home_page_demos page_demos">
            <div class="bg_text">
                <h1 class="bg_strock_text" data-parallax="{&quot;x&quot;: 200}">Blog</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <h2 class="demos_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Blog</h2>  
                    </div>
                </div>
            </div>
<div id="owl-demo">
          <%@blog.each do |f|%>
  <div class="item"><a href="/blog/index/<%=f.id%>"><img src="<%=url_for(f.avatar)%>" alt="Blog Image"></a></div>
<%end%>
 
</div>
        </div>
    </div>
 


<div class="demo_wrap bg_dark" id="testimonials">
        <div class="home_page_demos page_demos">
            <div class="bg_text">
                <h1 class="bg_strock_text" data-parallax="{&quot;x&quot;: 200}">Testimonials</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <h2 class="demos_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Testimonials</h2>
                        
                    </div>
                </div>
            </div> 

<div class="container" style="background-color: #171819;margin: 0; max-width: 100vw !important">
    <div class="row">
        <div class="col-md-12">
            <div id="testimonial-slider" class="owl-carousel">
                <div class="testimonial">
                    <div class="content">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit elit porttitor erat rutrum, ac.elit porttitor erat rutrum, ac.
                        </p>
                    </div>
                    <div class="testimonial-pic">
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" alt="">
                    </div>
                    <div class="testimonial-review">
                        <h3 class="testimonial-title">williamson</h3>
                        <span>web developer</span>
                        <ul class="social-links">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-pinterest"></a></li>
                        </ul>
                    </div>
                </div>
 
                <div class="testimonial">
                    <div class="content">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit elit porttitor erat rutrum, ac.elit porttitor erat rutrum, ac.
                        </p>
                    </div>
                    <div class="testimonial-pic">
                        <img src="https://cdn2.iconfinder.com/data/icons/people-flat-design/64/Man-Person-People-Avatar-User-Happy-512.png" alt="">
                    </div>
                    <div class="testimonial-review">
                        <h3 class="testimonial-title">miranda joy</h3>
                        <span>Web Designer</span>
                        <ul class="social-links">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-pinterest"></a></li>
                        </ul>
                    </div>
                </div>
 
                <div class="testimonial">
                    <div class="content">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit elit porttitor erat rutrum, ac.elit porttitor erat rutrum, ac.
                        </p>
                    </div>
                    <div class="testimonial-pic">
                        <img src="https://cdn1.iconfinder.com/data/icons/avatar-97/32/avatar-02-512.png" alt="">
                    </div>
                    <div class="testimonial-review">
                        <h3 class="testimonial-title">steve thomas</h3>
                        <span>web developer</span>
                        <ul class="social-links">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-pinterest"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="testimonial">
                    <div class="content">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit elit porttitor erat rutrum, ac.elit porttitor erat rutrum, ac.
                        </p>
                    </div>
                    <div class="testimonial-pic">
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" alt="">
                    </div>
                    <div class="testimonial-review">
                        <h3 class="testimonial-title">steve thomas</h3>
                        <span>YEllow developer</span>
                        <ul class="social-links">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-pinterest"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
</div>
</div>












  <div class="demo_wrap bg_dark" id="contact">
        <div class="home_page_demos page_demos">
            <div class="bg_text">
                <h1 class="bg_strock_text" data-parallax="{&quot;x&quot;: 200}">Contact us</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <h2 class="demos_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Contact us</h2>
                        
                    </div>
                </div>
            </div> 
        <form id="lc">
             <div class="form-group">
    
    <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter Name" required>
   
  </div>
             <div class="form-group">
    <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email Id" required>
    <small class="form-text text-muted">We'll never share your Email with anyone else.</small>
  </div>
   <div class="form-group">
    <input type="number" name="mobile" class="form-control" aria-describedby="emailHelp" placeholder="Enter Mobile Number" required>
    <small  class="form-text text-muted">We'll never share your Mobile Number with anyone else.</small>
  </div>
    <div class="form-group">

    <textarea class="form-control" placeholder="Please enter your query here" id="qry" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="lcsubmit">Submit</button>
        </form>
    </div>
  </div>
 

    <!-- end demo_wrap -->
    <div class="go_to_top">
        <a href="#top">
            <i class="fa fa-angle-up"></i>
            <i class="fa fa-angle-up"></i>
        </a>
    </div>


<script>
    $(document).ready(function(){

$('#lc').submit(function(event){
    
    event.stopPropagation();
    event.preventDefault();
    console.log("a");
edata={
    'email': $('input[name=email]').val(),
    'name': $('input[name=name]').val(),
    'mobile': $('input[name=mobile]').val(),
    'query': $('#qry')[0].value
};
  $.ajax({
    type: 'post',
    url: '/api/v1/lead/savecontactus',
    headers:{
  'Accept': 'application/json',
  'Content-Type':'application/json',
 
    },
    data: JSON.stringify(edata),
    datatype:'application/json',
    success: function(e){
     
     if(e.status!="error"){
    new Noty({
    theme: 'metroui',
     type: 'success',
    text: 'Query has been successfully submitted',
   timeout:1500,
}).show();

reload('lc');
}
 else
   new Noty({
    theme: 'metroui',
     type: 'error',
    text: 'Please fill all the fields',
    timeout: 1000,
}).show();

    },
    error: function(e){
        alert("error");
    }

});
});
});
function reload(g){
    var container = document.getElementById(g);
    var content = container.innerHTML;
    container.innerHTML= content; 
}
</script>
<script type="text/javascript">
    $(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
 
      autoPlay: 3000, //Set AutoPlay to 3 seconds
 
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });
 
});
</script>